@page "/organization/{organizationId}/CreateRealm"
@using Allard.Configinator.Blazor.Client.Services
@using Allard.Configinator.Blazor.Shared.ViewModels.Organization
@using System.Text.Json
@inject IOrganizationService organizationService;
@inject NavigationManager navigationManager;

<h3>CreateRealm</h3>

@code {

    [Parameter]
    public string OrganizationId { get; set; }

    private RealmViewModel realm;

    private OrganizationViewModel organization;

    protected override async Task OnParametersSetAsync()
    {
        organization = await organizationService.GetOrganizationAsync(OrganizationId);
        realm = new RealmViewModel();
    }

    public string Json { get; set; }

    private List<string> types = new() {"primitive/string", "a/b"};

    private async Task Create()
    {
    //Console.WriteLine("service");
    //Console.WriteLine(JsonSerializer.Serialize(realm));
        await organizationService.AddRealmToOrganizationAsync(OrganizationId, realm);
        navigationManager.NavigateTo("/organization/" + OrganizationId);
        Json = JsonSerializer.Serialize(realm);
    }

}

<EditForm Model="realm">
    @if (organization != null)
    {
        <p>
            Realm Id: @realm.RealmId
        </p>
        <p>
            Habitats: @realm.Habitats.Count
        </p>
        <p>
            Sections: @realm.ConfigurationSections.Count
        </p>
        <h3>@organization.OrganizationId</h3>
        <p>
            Realm Name <input type="text" @bind="@realm.RealmId"/>
        </p>
        <h4 style="padding:15px;background-color: black; color: white">
            Configuration Sections&nbsp;
            <button class="btn" @onclick="() => realm.ConfigurationSections.Add(new ConfigurationSectionViewModel())">
                <span class="oi oi-plus"></span>
            </button>
        </h4>
@foreach (var cs in realm.ConfigurationSections)
{
    <table>
        <thead>
        <tr>
            <th>Section Name</th><th>Properties</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td style="vertical-align: top">
                <input type="text" @bind="@cs.SectionId">
            </td>
            <td>
                <table>
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Secret</th>
                        <th>Required</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var p in cs.Properties)
                    {
                        <tr>
                            <td>
                                <input type="text" @bind=@p.Name>
                            </td>
                            <td>
                                <InputSelect @bind-Value=p.SchemaTypeId>
                                    <option></option>
                                    @foreach (var type in types)
                                    {
                                        <option value="@type">@type</option>
                                    }
                                </InputSelect>
                            </td>
                            <td>
                                <input type="checkbox" @bind="@p.IsRequired">
                            </td>
                            <td>
                                <input type="checkbox" @bind="@p.IsSecret">
                            </td>
                        </tr>
                    }
                    </tbody>
                    <button class="btn btn-primary" @onclick="() => cs.Properties.Add(new PropertyViewModel())">Add Property</button>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
    <hr>
}
        <h4 style="padding:15px;background-color: black; color: white">
            Habitats&nbsp;
            <button class="btn" @onclick="() => realm.Habitats.Add(new HabitatViewModel())">
                <span class="oi oi-plus"></span>
            </button>
        </h4>
        @foreach (var h in realm.Habitats)
        {
            <ul>
                <li>
                    <input type="text" @bindValue="@h.HabitatId"/>
                </li>
            </ul>
        }
        <hr/>
        <p>
            <button class="btn btn-primary" @onclick="Create">Create Realm</button>
        </p>
        <h1>json</h1>
        <p>@Json</p>
    }
</EditForm>